
H1-Grundlæggende programering/.vs/GPOpgaver/v16/Server/sqlite3/db.lock
H1-Grundlæggende programering/GPOpgaver/.vs/GPOpgaver/v16/Server/sqlite3/db.lock
H1-Grundlæggende programering/GPOpgaver/XUnitTestGPOpgaver/.vs/XUnitTestGPOpgaver/v16/Server/sqlite3/db.lock
H1-Grundlæggende programering/CleanCodeExersises/.vs/CleanCodeExersises/v16/Server/sqlite3/db.lock
H1-Grundlæggende programering/LagerSystemH1/LagersystemH1/.vs/LagersystemH1/v16/Server/sqlite3/db.lock
